{:directives
   [{:acc "Assets:Bank:Current", :date #time/date "2016-03-01", :dct :open}
    {:acc "Expenses:Groceries", :date #time/date "2016-03-01", :dct :open}
    {:date #time/date "2023-05-29",
     :dct :txn,
     :flag "*",
     :payee "New World",
     :postings [{:acc "Expenses:Groceries", :cur "NZD", :units 10.00M}
                {:acc "Assets:Bank:Current", :cur "NZD", :units -10.00M}]}
    {:date #time/date "2023-05-30",
     :dct :txn,
     :flag "*",
     :payee "Countdown",
     :postings [{:acc "Expenses:Groceries", :cur "NZD", :units 17.50M}
                {:acc "Assets:Bank:Current", :cur "NZD", :units -17.50M}]}],
 :options {:name-assets "Assets",
           :name-equity "Equity",
           :name-expenses "Expenses",
           :name-income "Income",
           :name-liabilities "Liabilities"},
 :plugins
   {:external
      [{:config
          "{:units 1000.00M :cur \"USD\" :acc \"Equity:Rich-American-Uncle\"}",
        :name "limabean.contrib.plugins.examples.magic-money"}],
    :internal []}}
