[{:acc "Equity:Rich-American-Uncle", :date #time/date "2016-03-01", :dct :open}
 {:acc "Assets:Bank:Current", :date #time/date "2016-03-01", :dct :open}
 {:date #time/date "2016-03-01",
  :dct :txn,
  :postings [{:acc "Equity:Rich-American-Uncle", :cur "USD", :units -1000.00M}
             {:acc "Assets:Bank:Current",
              :cur "USD",
              :payee "magical benefactor",
              :units 1000.00M}]}
 {:acc "Expenses:Groceries", :date #time/date "2016-03-01", :dct :open}
 {:date #time/date "2016-03-01",
  :dct :txn,
  :postings [{:acc "Equity:Rich-American-Uncle", :cur "USD", :units -1000.00M}
             {:acc "Expenses:Groceries",
              :cur "USD",
              :payee "magical benefactor",
              :units 1000.00M}]}
 {:date #time/date "2023-05-29",
  :dct :txn,
  :flag "*",
  :payee "New World",
  :postings [{:acc "Expenses:Groceries", :cur "NZD", :units 10.00M}
             {:acc "Assets:Bank:Current", :cur "NZD", :units -10.00M}]}
 {:date #time/date "2023-05-30",
  :dct :txn,
  :flag "*",
  :payee "Countdown",
  :postings [{:acc "Expenses:Groceries", :cur "NZD", :units 17.50M}
             {:acc "Assets:Bank:Current", :cur "NZD", :units -17.50M}]}]
