[{:acc "Assets:Investments:Taxable:Midelity",
  :currencies #{"PARENT"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:opengroup_commodity_leaves_income_and_asset {:string
                                                             "ABC,DEFGH"}},
  :span [0 53 171]}
 {:acc "Assets:Investments:Taxable:Midelity:ABC",
  :currencies #{"ABC"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 0 68]}
 {:acc "Income:Investments:Taxable:Capital-Gains:Midelity:ABC",
  :currencies #{"USD"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 68 150]}
 {:acc "Income:Investments:Taxable:Dividends:Midelity:ABC",
  :currencies #{"USD"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 150 228]}
 {:acc "Income:Investments:Taxable:Interest:Midelity:ABC",
  :currencies #{"USD"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 228 305]}
 {:acc "Assets:Investments:Taxable:Midelity:DEFGH",
  :currencies #{"DEFGH"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 305 377]}
 {:acc "Income:Investments:Taxable:Capital-Gains:Midelity:DEFGH",
  :currencies #{"USD"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 377 461]}
 {:acc "Income:Investments:Taxable:Dividends:Midelity:DEFGH",
  :currencies #{"USD"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 461 541]}
 {:acc "Income:Investments:Taxable:Interest:Midelity:DEFGH",
  :currencies #{"USD"},
  :date #time/date "2000-01-01",
  :dct :open,
  :metadata {:auto nil},
  :provenance ["beancount-reds-plugins.opengroup.opengroup"],
  :span-p [1 541 620]}]
